body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
}
#map {
    width: 100%;
    height: 80vh; /* 调整为视窗高度的80% */
    overflow: hidden; /* 隐藏超出部分，可以改为 scroll 如果你希望用户能滚动查看 */
    display: flex; /* 使用flex布局来帮助居中SVG */
    justify-content: center; /* 水平居中 */
    align-items: center;
    transform: scale(1.3); /* 放大150% */
    transform-origin: center center;
    margin-top: 100px;
}

.highlight {
    fill: orange; /* Change color on hover */
}
.country {
    stroke: #fff;
    stroke-width: 1px;
    fill: #ccc; /* Default fill color */
}
h1 {
    text-align: center;
    font-size: 34px; /* 字体大小 */
    font-family: 'Times New Roman', serif; /* 字体类型为 Times New Roman */
    color: #003366; /* 深蓝色字体颜色 */
    margin-top: 20px; /* 顶部边距 */
    margin-bottom: 0px; /* 底部边距，确保与地图之间有适当的空间 */
}

h2 p {
    font-family: 'Times New Roman', serif; /* 使用统一的字体 */
    color: #003366; /* 深蓝色字体颜色 */
    font-size: 15px; /* 设置字体大小 */
    margin: 5px 400px; /* 上下边距，左右为0 */
    text-align: left; /* 文字居中 */
}

#description {
    background-color: #f9f9f9; /* Light grey background for the description box */
    border-radius: 5px; /* Rounded corners for the box */
    padding: 20px; /* Padding inside the box for content spacing */
    margin: 20px auto; /* Centering the box with a margin and setting top and bottom margin */
    width: 80%; /* Adjusting the width to fit within the layout */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    font-size: 15px; /* Adjusting font size */
    line-height: 1.6; /* Line height for readability */
    color: #003366; /* Color as specified */
}

h3 {
    text-align: center; /* Centering the subheading */
    font-size: 22px; /* Size of the subheading */
    font-family: 'Times New Roman', serif; /* Consistent font with other headings */
    color: #003366; /* Consistent color with other headings */
    margin-top: 0; /* Removing top margin for better spacing */
}
